<!DOCTYPE html>

<html ng-app="myApp">

  <head>
    <meta charset="utf-8">
<!-- Sourcing -->
    <script src="vendors/jquery-2.2.4.min.js" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="scripts/script.js"></script>

    <link rel="stylesheet" href="vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/stylesheet.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/vendors/font-awesome-4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>

  </head>

  <body>

    <div class="linkDiv">
      <a href="https://www.linkedin.com/in/waldroncraig"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/craigjwaldron"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.behance.net/craigjwaldron"><i class="fa fa-behance fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="jumbotron">
      <div class="introDiv container">
        <!-- <div class="page-header"> -->

          <h1 class="nameHeader"> CRAIG WALDRON </h1>
          <h3 class="subHeader"> FRONT-END DEVELOPER </h3>

        <!-- </div> -->
        <div>
          <a class="ghost-button-transition" href="#about" data-transition="slide">ABOUT ME</a>
        </div>
      </div>
    </div>

    <div class="aboutDiv" id="about">
      <div class="meDiv row">
          <img class="col-md-6 selfPort img-responsive" src="/assets/photo_self.jpg" alt="" />
        <div class="col-md-6 selfText">
          <h2 class="meTitle">I HAVE AN EXTRAORDINARY PASSION FOR FUNCTIONALITY BLENDED WITH BEAUTY.</h2>
          <p class="mePara"> I am a recent graduate of Prime Digital Academy where I earned a certificate in Full-Stack Development. Additionally, I have a background in graphic design and find great joy in combining my two skill sets. Check out my repertoire below. </p>
        </div>
      </div>
      <div class="skillsDiv">
        <img class="skillsPhoto" src="/assets/skills.png" alt=""/>
      </div>
    </div>

    <div class="row projectDiv" ng-controller="ModalDemoCtrl as $ctrl">
      <div class="col-md-6">
        <div class="thumbnail hovereffect" ng-click="$ctrl.open('lg')">
          <img src="/assets/malia.jpg" class="projectsRight">
          <div class="overlay">
            <h1>MALIA DRAGON BOAT RACING</h1>
            <p>CLICK FOR MORE</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail hovereffect" ng-click="$ctrl.open('lg')">
          <img src="/assets/prosmash.jpg" class="projectsLeft">
          <div class="overlay">
            <h1>PROSMASH</h1>
            <p>CLICK FOR MORE</p>
          </div>
        </div>
      </div>

    <div ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <ul>
                    <li ng-repeat="item in $ctrl.items">
                        <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ $ctrl.selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </script>
    </div>

  </body>

</html>
