
body {
  padding: 0px;
  margin: 0px;
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #606c88 , #3f4c6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainHeader {
  font-family: 'Maven Pro', sans-serif;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.nameHeader {
  padding: 0px;
  margin: 0px;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 60px;
  font-family: 'Maven Pro', sans-serif;
}

.subHeader {
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 26px;
  font-family: 'Maven Pro', sans-serif;
}

.subHeader2 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
}

.repHeader {
  padding: 50px;
  margin: 0px;
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
}

.introDiv {
  color: white;
  text-align: center;
  float: none;
  margin-right: auto;
  margin-left: auto;
  padding-top: 140px;
  padding-bottom: 40px;
}
