
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Maven Pro', sans-serif;
}

html {
  padding: 0px;
  margin: 0px;
}

.mainHeader {
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

.repHeader {
  padding: 0px;
  margin: 0px;
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
}

.introDiv {
  background-color: #0B3C4C;
  color: white;
  height: 300px;
}

.skillsDiv {
  background-color: #0E5066;
  color: #1A8BB2;
  height: 500px;
  text-align: center;
}

.softDiv {
  background-color: #13647F;
  color: white;
  height: 500px;
  text-align: center;
}

.graphDiv {
  background-color: #127899;
  color: white;
  height: 500px;
  text-align: center;
}

footer {
  background-color: #1A8BB2;
  height: 100px;
  color: white;
  font-size: 20px;
  margin: auto;
  text-align:center;
  padding:25px;
}
