<!DOCTYPE html>

<html>

  <head>

<!-- Sourcing -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="css/stylesheet.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

    <script src="scripts/script.js"></script>

  </head>

  <body>
    <h1>hello</h1>
    <!-- Main View -->
    <video width="920" height="840" autoplay>
  	  <source src="assets/vid.mp4" type="video/mp4">
  	  Your browser does not support the video tag.
  	</video>

    <!-- Footer -->
    <footer class="text-center">
      <p>* No animals were harmed in the making of this application.</p>
    </footer>

  </body>

</html>
